extends layout

block content
  div
    .row
      .col-md-12
        h4=title
        hr
    if update    
      .row
        .col-sm-12.alert.alert-success
          p Successfully updated #{brew.name}!
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            if brew._id 
              label Edit Brew 
            else 
              label Create Brew
          .panel-body
            form.form-horizontal(action='/control/brew/' + (brew._id ? brew._id : ''), method='post')
              .form-group
                label.control-label.col-sm-2 Brew Name:
                .col-sm-10
                  input.form-control(type='text', name='name', value=brew.name)
              .form-group
                label.control-label.col-sm-2 Recipe Url:
                .col-sm-10  
                  input.form-control(type='text', name='recipeUrl', value=brew.recipeUrl)
              // @todo add datetimepickers for start and end timestamps
              .form-group
                label.control-label.col-sm-2 Brew Start:
                .col-sm-10
                  input.form-control(type='text', name='startDT', value=brew.startDT)
              .form-group
                label.control-label.col-sm-2 Brew Finish:
                .col-sm-10
                  input.form-control(type='text', name='finishDT', value=brew.finishDT)
              .form-group
                label.control-label.col-sm-2 Complete:
                .col-sm-10
                  input.form-control(type='checkbox', name='complete', checked=brew.complete)
              .form-group
                label.control-label.col-sm-2 Temperature Data:
                .col-sm-10
                  // @todo fix this when I figure out how temp data is going to be logged to brews
                  if brew.tempData
                    p.form-control #{brew.tempData.length} record(s).
              .form-group
                .col-sm-offset-2.col-sm-10
                  if brew._id
                    input.form-control(type='submit', value='Edit Brew')
                  else
                    input.form-control(type='submit', value='Create Brew')
    .row 
      .col-sm-6 
        .panel.panel-default 
          .panel-heading 
            label Brew Steps
          .panel-body
            if !brew.steps
              p This brew has no steps! 
      .col-sm-6
        .panel.panel-default 
          .panel-heading
            label Add Step
          .panel-body
            form.form-horizontal
              .form-group
                label.control-label.col-sm-4 Step Name:
                .col-sm-8
                  input.form-control(type='text', name='name')
              .form-group
                label.control-label.col-sm-4 Start:
                .col-sm-8
                  p.form-control 2018-09-24T08:00:00-08:00
              .form-group
                label.control-label.col-sm-4 Duration:
                .col-sm-8
                  input.form-control(type='text', name='name')
              .form-group
                label.control-label.col-sm-4 Controller:
                .col-sm-8
                  select.form-control(name='controllerID', value='')
                    option blah
                    option blahBlah
              .form-group
                label.control-label.col-sm-4 Temperature:
                .col-sm-8
                  input.form-control(type='text', name='setpoint')
              .form-group
                label.control-label.col-sm-4 Notes:
                .col-sm-8
                  textarea(name='notes', cols=100 , rows=5, style="max-width:100%;")