extends layout

block content
  div
    .row
      .col
        h4=title
        hr
    if update    
      .row
        .col-sm-12.alert.alert-success
          p Successfully updated #{brew.name}!
    .row
      .col
        .card.mb-4
          .card-header
            if brew._id 
              label Edit Brew 
            else 
              label Create Brew
          .card-body
            form.form-horizontal(action='/control/brew/' + (brew._id ? brew._id : ''), method='post')
              .row.mb-2
                label.col-sm-2.col-form-label(for='name') Brew Name:
                .col-sm-10
                  input.form-control(type='text', name='name', value=brew.name)
              .row.mb-2
                label.col-sm-2.col-form-label(for='recipeUrl') Recipe Url:
                .col-sm-10  
                  input.form-control(type='text', name='recipeUrl', value=brew.recipeUrl)
              // @todo add datetimepickers for start and end timestamps
              .row.mb-2
                label.col-sm-2.col-form-label(for='startDT') Brew Start:
                .col-sm-10
                  input.form-control(type='text', name='startDT', value=brew.startDT)
              .row.mb-3
                label.col-sm-2.col-form-label(for='finishDT') Brew Finish:
                .col-sm-10
                  input.form-control(type='text', name='finishDT', value=brew.finishDT)
              .row.mb-3
                label.col-sm-2.form-check-label(for='complete') Complete:
                .col-sm-10
                  input.form-check-input(type='checkbox', name='complete', checked=brew.complete)
              .row.mb-2
                .col-sm-10.offset-sm-2
                  if brew._id
                    input.form-control(type='submit', value='Edit Brew')
                  else
                    input.form-control(type='submit', value='Create Brew')
    if brew._id 
      .row.row-cols-1.row-cols-md-2
        .col
          .card.mb-4
            .card-header
              label Brew Steps
            .card-body
              if !brew.steps
                p This brew has no steps! 
        .col
          .card.mb-2
            .card-header
              label Add Step
            .card-body
              form.form-horizontal(action='/control/brew/addstep' + (brew._id ? brew._id : ''), method='post')
                .row.mb-2
                  label.col-sm-4.col-form-label(for='name') Step Name:
                  .col-sm-8
                    input.form-control(type='text', name='name')
                .row.mb-2
                  label.col-sm-4.col-form-label(for='') Start:
                  .col-sm-8
                    input.form-control(type='text', name='startDT', value='2018-09-24T08:00:00-08:00')
                .row.mb-2
                  label.col-sm-4.col-form-label(for='') Duration:
                  .col-sm-8
                    input.form-control(type='text', name='name')
                .row.mb-2
                  label.col-sm-4.col-form-label(for='') Controller:
                  .col-sm-8
                    select.form-control(name='controllerID', value='')
                      option blah
                      option blahBlah
                .row.mb-2
                  label.col-sm-4.col-form-label(for='') Temperature:
                  .col-sm-8
                    input.form-control(type='text', name='setpoint')
                .row.mb-2
                  label.col-sm-4.col-form-label(for='') Notes:
                  .col-sm-8
                    textarea(name='notes', cols=100 , rows=5, style="max-width:100%;")
                .row.mb-2
                  .col-sm-8.offset-sm-4
                    input.form-control(type='submit', value='Add Step')