extends layout

block content
  div
    form.form-horizontal(action='/control/ctrlr/' + (controller._id ? controller._id : ''), method='post')
    .row
      .col-md-12
        h2=title
        hr
    .row.equal
      .col-sm-4.col-md-4
        .panel.panel-default
          .panel-heading
            label=controller.name
          .panel-body
            p
              label Model:&nbsp
              input.form-control(type='text', name='model', value=controller.model)
            p
              label Update Rate:&nbsp
              input.form-control(type='text', name='updateRate', value=controller.updateRate)
          if Object.keys(controller.param).length > 0
            .panel-heading
              label Parameters:
            .panel-body
              each item, name in controller.param
                .form-group
                  label.control-label #{name}
                  input.form-control(type='text', name='updateRate', value=item)
      .col-sm-4.col-md-4
        .panel.panel-default
          .panel-heading
            label Sensor
          .panel-body
            p no sensor yet
      .col-sm-4.col-md-4
          .panel.panel-default
            .panel-heading
              label Output
            .panel-body
              p no sensor yet
