extends layout

block content
  div
    form.form-horizontal(action='/control/ctrlr/' + (controller._id ? controller._id : ''), method='post')
      .row
        .col-md-12
          h2=title
          hr
      .row.equal
        .col-sm-4.col-md-4
          .panel.panel-default
            .panel-heading
              label=controller.name
            .panel-body
              .form-group
                label.control-label.col-sm-4 Enabled: 
                label.col-sm-8
                  input.form-control(type='checkbox', name='enabled', checked=controller.enabled)
              .form-group
                label.control-label.col-sm-4 Model:
                .col-sm-8
                  input.form-control(type='text', name='model', value=controller.model)
              .form-group
                label.control-label.col-sm-4 Update Rate:
                .col-sm-8
                  input.form-control(type='text', name='updateRate', value=controller.updateRate)
            if Object.keys(controller.param).length > 0
              .panel-heading
                label Parameters:
              .panel-body
                each item, name in controller.param
                  .form-group
                    label.control-label.col-sm-4 #{name}:
                    .col-sm-8
                      input.form-control(type='text', name='updateRate', value=item)
        .col-sm-4.col-md-4
          .panel.panel-default
            .panel-heading
              label Sensor
            .panel-body
              p no sensor yet
        .col-sm-4.col-md-4
            .panel.panel-default
              .panel-heading
                label Output
              .panel-body
                p no sensor yet
