extends layout

block content
  div
    form.form-horizontal(action='/control/ctrlr/' + (controller._id ? controller._id : ''), method='post')
      .row
        .col-sm-6
          h4=title
        .col-sm-6
          .float-end
            input.btn.btn-link(type='submit', value='Save')
      if flashMsg && flashMsg.length > 0
        .row
          .col-sm-12.alert.alert-danger
            each msg in flashMsg
              p #{msg}
      .row
        .col-sm-4.col-md-4
          .card
            .card-header Controller
            .card-body
              .row.mb-2
                label.col-sm-4.col-form-label(for='id') ID:
                .col-sm-8
                  input.form-control(type='text', name='id', value=controller.id readonly)
              .row.mb-3
                label.col-sm-4.col-form-label(for='name') Name:
                .col-sm-8
                  input.form-control(type='text', name='name', value=controller.name)
              .row.mb-3
                label.col-sm-4.form-check-label(for='enabled') Enabled: 
                label.col-sm-8
                  input.form-check-input(type='checkbox', name='enabled', checked=controller.enabled)
              .row.mb-2
                label.col-sm-4.col-form-label(for='model') Model:
                .col-sm-8
                  select.form-control(name='model')
                    option #{controller.model}
              .row.mb-2
                label.col-sm-4.col-form-label(for='updateRate') Update Rate:
                .col-sm-8
                  input.form-control(type='text', name='updateRate', value=controller.updateRate)
            if Object.keys(controller.param).length > 0
              .card-header
                label Parameters:
              .card-body
                each item, name in controller.param
                  .row.mb-2
                    label.col-sm-6.col-form-label(for='param[#{name}]') #{name}:
                    .col-sm-6
                      input.form-control(type='text', name='param[#{name}]', value=item)
        .col-sm-4.col-md-4
          .card
            .card-header Sensor
            .card-body
              .row.mb-2
                label.col-sm-4.col-form-label(for='sensor[model]') Model:
                .col-sm-8
                  select.form-control(name='sensor[model]')
                    option #{controller.sensor.model}
              .row.mb-2
                label.col-sm-4.col-form-label(for='sensor[id]') Identifier:
                .col-sm-8
                  input.form-control(type='text', name='sensor[id]', value=controller.sensor.id)
              .row.mb-2
                label.col-sm-4.col-form-label(for='sensor[name]') Name:
                .col-sm-8
                  input.form-control(type='text', name='sensor[name]', value=controller.sensor.name)
        .col-sm-4.col-md-4
            .card
              .card-header Output
              .card-body
                .row.mb-2
                  label.col-sm-4.col-form-label(for='output[model]') Model:
                  .col-sm-8
                    select.form-control(name='output[model]')
                      option #{controller.output.model}
                .row.mb-2
                  label.col-sm-4.col-form-label(for='output[id]') Identifier:
                  .col-sm-8
                    input.form-control(type='text', name='output[id]', value=controller.output.id)
                .row.mb-2
                  label.col-sm-4.col-form-label(for='output[name]') Name:
                  .col-sm-8
                    input.form-control(type='text', name='output[name]', value=controller.output.name)
