extends layout

block content
  div
    .row.mb-2
      .col
        h4=title
          span.float-end
            a(href='/control/ctrlr/') New Controller
        hr
    .row.row-cols-1.row-cols-md-2
      if controllers.length > 0
        each controller in controllers
          .col
            .card.mb-4
              .card-header
                b=controller.name
                span.float-end
                    a(href='/control/ctrlr/' + controller._id) Edit Controller
              .card-body
                p
                  b.control-label Enabled:&nbsp
                  | #{controller.enabled}
                p
                  b Model:&nbsp
                  | #{controller.model}
                p
                  b Update Rate:&nbsp
                  | #{controller.updateRate}
                hr
                p
                  if controller.sensor
                    b Sensor:&nbsp
                    | #{controller.sensor.name} (#{controller.sensor.model} @ #{controller.sensor.id})
                p
                  if controller.output
                    b Output:&nbsp
                    | #{controller.output.name} (#{controller.output.model} @ #{controller.output.id})
              if Object.keys(controller.param).length > 0
                .card-header Parameters:
                table.table.table-bordered
                  tr
                    th Name
                    th Value
                  each item, name in controller.param
                    tr
                      td #{name}
                      td #{item}

