extends layout

block content
  div
    .row
      .col-md-12
        h2=title
        hr
    if update    
      .row
        .col-sm-12.alert.alert-success
          p Successfully updated #{brew.name}!
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            label Edit Brew
          .panel-body
            form.form-horizontal(action='/control/brew/' + (brew._id ? brew._id : ''), method='post')
              .form-group
                label.control-label.col-sm-2 Brew Name:
                .col-sm-10
                  input.form-control(type='text', name='name', value=brew.name)
              .form-group
                label.control-label.col-sm-2 Recipe Url:
                .col-sm-10
                  input.form-control(type='text', name='recipeUrl', value=brew.recipeUrl)
              .form-group
                label.control-label.col-sm-2 Brew Start:
                .col-sm-10
                  input.form-control(type='text', name='startDT', value=brew.startDT)
              .form-group
                label.control-label.col-sm-2 Brew Finish:
                .col-sm-10
                  input.form-control(type='text', name='finishDT', value=brew.finishDT)
              .form-group
                label.control-label.col-sm-2 Complete:
                .col-sm-10
                  input.form-control(type='checkbox', name='complete', checked=brew.complete)
              .form-group
                label.control-label.col-sm-2 Temperature Data:
                .col-sm-10
                  p.form-control #{brew.tempData.length} record(s).
              .form-group
                .col-sm-offset-2.col-sm-10
                  if brew._id
                    input.form-control(type='submit', value='Edit Brew')
                  else
                    input.form-control(type='submit', value='Create Brew')
          .panel-body
            form.form-horizontal
              .form-group
                  label.control-label.col-sm-2 Timestamp:
                  .col-sm-10
                    p.form-control 2018-09-24T08:00:00-08:00
              .form-group
                label.control-label.col-sm-2 Step:
                .col-sm-10
                  select.form-control(name='step', value='')
                    option Mash Complete
                    option Boil Complete
                    option Added to Fermenter
                    option Sample
                    option Fermentation Complete
              .form-group
                label.control-label.col-sm-2 SG Reading:
                .col-sm-10
                  input.form-control(type='text', name='sg')
              .form-group
                label.control-label.col-sm-2 Volume:
                .col-sm-10
                  input.form-control(type='text', name='vol')
              .form-group
                label.control-label.col-sm-2 Notes:
                .col-sm-10
                  textarea(cols=30, rows=5)