extends layout

block content
  div(ng-controller='historyCtrl', class='container')
    .row
      .col-md-12
        h4=title
          span.pull-right
            a(href='/control/brew/') New Brew
        hr
    for brew in brews    
      .row(name=brew._id)
        .col-sm-12
          .panel.panel-default
            .panel-heading
              label #{brew.name}
              span.pull-right
                a(href='/control/brew/' + brew._id) Edit Brew
            .panel-body
              p
                label Recipe:&nbsp
                a(href=brew.recipeUrl) #{brew.name}
              p
                label Stage:&nbsp
                | Fermentation (started #{brew.startDT})
              div(id=brew._id)
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            .row
              .col-sm-4
                if page > 1
                  a(href='/history/' + (parseInt(page) - 1)) Prev Page
              .col-sm-4.text-center
                | Page #{page} of #{numPages}
              .col-sm-4.text-right
                if page < numPages
                  a(href='/history/' + (parseInt(page) + 1)) Next Page
