extends layout

block content
  div
    .row.row-cols-1
      .col
        h4=title
        hr
    .row.row-cols-1
      .col
        .card
          h6.card-header Log Viewer
          .card-body
            table.table
              tr
                th Hostname
                th Timestamp
                th Severity
                th Message
              each log in logs
                tr
                  td #{log.hostname}
                  td #{moment(log.timestamp).tz('America/Vancouver').format('DD MMM YYYY h:mm:ss a')}
                  td #{log.level}
                  td #{log.message}
          .card-footer
            .row.row-cols-3
              .col
                if page > 1
                  a(href='/control/logs/' + (parseInt(page) - 1)) Prev Page
              .col.text-center
                | Page #{page} of #{numPages}
              .col.text-end
                if page < numPages
                  a(href='/control/logs/' + (parseInt(page) + 1)) Next Page
